// 
    // Decorative Elements

    // @package eyw-merchant
    // @author  Jessica Eze <jessica@softcom.ng>

.experience-banner     
    max-width: $maxwidth-sm
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    @media #{ $largeup}
        height: 740px
    &.home-layout
        max-height: 540px
        @media #{ $largeup}
            max-height: 740px
    @media #{ $largeup}
        max-width: $maxwidth-lt
        padding-bottom: 0
    @media #{ $xlargeup }
        padding-top: $space-xl

    
.experience-bg-img
    height: 100%


.content-wrapper
    overflow: hidden
    @media #{ $largeup}
        display: flex
        align-items: center
        justify-content: space-between


.banner-content
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    @media #{ $largeup}
        width: 50%
        text-align: left
        align-items: unset


.get-app-cta
    margin: 0
    .google-play svg
        height: 40px
        width: 120px
    .app-store svg
        height: 40px
        width: 120px


.banner-image
    @media #{ $largeup}
        width: 55%
        &.is-business
            width: 38%
            position: absolute
            right: 0
            bottom: 0


.input-wrap
    display: flex
    border-radius: 50px
    border: 1px solid transparent
    &:hover, &:focus
        box-shadow: $subtleboxshadow    
        border: 1px solid $primarycolor
    .phone-number-input
        border-right: none
        border-bottom-left-radius: 50px
        border-top-left-radius: 50px
        width: calc(100% - 80px)
        padding: .7rem 1rem
        outline: none
        font-size: $nanofont
        font-family: $bodyfont
        background-color: #fff
        @media #{ $largeup}
            width: calc(100% - 100px)
    .input-button
        border-bottom-right-radius: 50px
        border-top-right-radius: 50px
        width: 80px
        background-color: $primarycolor
        font-size: $picofont
        text-transform: uppercase
        @media #{ $largeup}
            width: 100px
            font-size: $primaryfont
            padding: .72rem 0
        svg
            width: 12
            height: 19
            @media #{ $mediumup}
                width: 15
                height: 21

