.business-intro
    @media #{ $mediumup}
        display: flex
        align-items: center
        justify-content: space-between
    .for-business
        padding-bottom: 2.96rem
        @media #{ $mediumup}
            width: 50%
            padding-bottom: 0
            padding-right: 5rem 
            border-right: 1px solid #d2d2d2 
    .as-a-business
        padding-top: 2.96rem
        @media #{ $mediumup}
            width: 50%
            padding-top: 0
            padding-left: 5rem      
.business-button
    background: #992032
    color: #ffffff
    border: none
    height: 45px
    &:hover
        color: #ffffff
        opacity: .8
.business-link
    color: #992032
    &:hover, &:focus
        color: #992032
        opacity: .8
.business-icon
    width: 200px
    margin: 0 auto
.business-app
    & > svg
        width: 130px


.business-sections
    display: flex
    flex-direction: column
    justify-content: center
    @media #{ $mediumup}
        min-height: 700px
        display: flex
        flex-direction: row
        align-items: center
    &.asb
        min-height: 700px
        justify-content: space-between

.asb-imgs
    position: absolute
    bottom: 0
    width: 90%
    max-width: 350px
    &.right
        right: 0
    &.left
        left: 0
    @media #{ $mediumup}
        width: 100%
        max-width: 450px
    @media #{ $largeup}
        &.right
            right: 250px
        &.left
            left: 250px 
    &.last-of-type
        max-width: 400px
        bottom: -25px
        @media #{ $mediumup}
            max-width: 480px
            bottom: -50px

.business-titles
    font-size: 1.7rem
    margin-top: 0
    margin-bottom: .5rem
.business-imgs-section
    min-height: 200px
    .business-imgs
        width: 400px
        height: 250px
        position: relative
        @media #{ $mediumup}
            height: auto
        &.left
            position:           absolute
            top:                0
            left:               0
            @media #{ $mediumup}
                width: 50%
                top:                50%
                transform:          translate( 0, -50% )
        &.right
            position:          absolute
            right:             0
            top:               0
            @media #{ $mediumup}
                width: 50%
                top:                50%
                transform:          translate( 0, -50% )

.uk-tab
    &:before
        content: ""
        position: absolute
        bottom: 0
        left: $space
        right: $space
        border-bottom: 1px solid #e5e5e5
    .uk-active 
        &.as-a-business a
            color: $primarycolor
            border-bottom: 2px solid $primarycolor
            &:hover, &:focus
                color: $primarycolor
                opacity: .8
        &.for-business a
            color: #992032
            border-bottom: 2px solid #992032
            &:hover, &:focus
                color: #992032
                opacity: .8
    
