
 
.features-content
    position: relative
    z-index: 1
    max-width: $maxwidth-tb
    margin: 0 auto
    @media #{ $largeup}
        max-width: 100%
        margin: 0
.features
    display: grid
    grid-gap: $space
    @media #{ $smallup}
        grid-template-columns: repeat(2, 1fr)
    & h3.title
        font-size: 1.3rem
    & p.description
        max-width: 250px
        font-size: 1.05rem
    .a-feature
        .double-check
            min-width: 30px
            height: 30px
            border-radius: 10px
            display: flex
            justify-content: center
            align-items: center
.features-img
    width: 600px
    position: absolute
    left: 0
    top: -60px
    bottom: 0
    object-fit: contain
    opacity: .2
    z-index: 0
    @media #{ $xlargeup}
        opacity: 1



.why-section
    min-height: 400px
    margin-top: 5rem
    @media #{ $smallup}
        min-height: 700px
        margin-top: 15rem
    .why-slider
        @media #{ $largeup}
            max-width: 650px
            position:           absolute
            top:                50%
            right:              0
            transform:          translate( 0, -50% )
        @media #{ $xlargeup}
            max-width: 900px
    .uk-slider-items img
        width: 300px
        border-radius: 8px
        margin-right: $space
        @media #{ $mediumup}
            width: 500px
    .uk-dotnav
        margin-left: 0
        flex-wrap: nowrap
        & > *
            &:first-of-type
                padding-left: 0
        & > * > *
            display: block
            box-sizing: border-box
            width: 35px
            height: 2px
            border-radius: 5px
            background: 0 0
            text-indent: 100%
            overflow: hidden
            white-space: nowrap
            background-color: rgba(196, 112, 46, 0.51)
            border: none
            transition: .2s ease-in-out
            transition-property: background-color,border-color
        & > .uk-active > *
            background-color: $primarycolor
        & li
            padding: 2rem .8rem
            cursor: pointer