<!-- <section class="bg-platinum px-1">
    <div class="after-reading py-2">
        <div class="d-flx recent-conversations is-raised ">
            <img src="{{ site.url }}/uploads/recent-conversations.jpeg/" alt="" class="recent-conversations-image">
            <a href="{{ site.url }}/conversations/" class="d-flx flx-dir-c j-c-center bg-white width-100-pc">
                <p class="tx-c co-rich-black fw-bold recent-conversations-title m-0">Recent Conversations</p>
            </a>
        </div>
        <div class="is-raised pos-rel bg-primary preferred-radius archived-conversations-card small">
            <img src="{{ site.url }}/uploads/archived-icons-bg.svg/" alt="" class="height-100-pc">
            <a href="{{ site.url }}/conversations/archived-conversations/" class="d-flx flx-dir-c j-c-center absolute-zero">
                <p class="tx-c co-white lh-1-1h archived-conversations-link small m-0">Archived <span class="d-blk">Conversations</span></p>
            </a>
        </div>
    </div>
</section> -->