<div id="breadcrumbs" 
{% if page.url contains 'archived-conversations' or page.layout == 'conversations-single' %}
class="breadcrumb at-the-start none" 
{%- else -%}
class="breadcrumb none" 
{% endif %}>
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<a href="{{ site.baseurl }}/" class="home-logo">
    {%- include tools/icons.html icon="logo-alt-sweetgray" -%}
</a>
{% for crumb in crumbs offset: 1 %}
    {% if forloop.last %} 
    <a href="" class="co-rich-black">
        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    </a>
    {% else %}
    <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}" class="co-readable-gray">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
{% endfor %}
</div>
        