<!-- <ol {% if page.url contains 'archived-conversations' or page.layout == 'conversations-single' %}class="breadcrumb at-the-start none" {%- else -%}class="breadcrumb none" {% endif %}class="breadcrumb none">
    <li><a href="{{ site.baseurl }}/" class="home-logo">{%- include tools/icons.html icon="logo-alt-sweetgray" -%}</a></li>
    {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
    {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
    {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
    {% for i in (1..forLoopMaxInt) %}
        {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
        {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
        {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
        {% assign breadcrumb_link = site.pages %}
        {% for breadcrumb_page in breadcrumb_link %}
            {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
            {% assign j = forLoopMaxInt | plus: 0 %}
                <li {% if i == j %}class="active"{% endif %}>
                    {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                    <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ol> -->


<div id="breadcrumbs" 
{% if page.url contains 'archived-conversations' or page.layout == 'conversations-single' %}
class="breadcrumb at-the-start none" 
{%- else -%}
class="breadcrumb none" 
{% endif %}>
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<a href="{{ site.baseurl }}/" class="home-logo">
    {%- include tools/icons.html icon="logo-alt-sweetgray" -%}
</a>
{% for crumb in crumbs offset: 1 %}
    {% if forloop.last %} 
    <a href="" class="co-rich-black">
        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    </a>
    {% else %}
    <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}" class="co-readable-gray">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
{% endfor %}
</div>
        