<div class="pos-rel">
    <div  
    {% if page.layout == 'home' %} class="experience-banner home-layout" {% else %} class="experience-banner mt-3" {% endif %}
    {% if page.layout == 'legal' %} style='display:none;' {% endif %}
    {% if page.layout == 'business' %} style='display:none;' {% endif %}>
        <img src="{{ site.url }}/uploads/experience-bg.svg" alt="" class="absolute-bottom experience-bg-img" {% if page.layout == 'home' %}style='display:none;'{% endif %}>
    
        <div class="content-wrapper pos-rel wrapper will-grow">
            <div class="banner-content">
                <h2 class="section-title m-0">Experience Eyowo now</h2>
                <p class="m-0">Get closer to Eyowo. Experience it on the ios and google play store</p>
                <!-- <form action="" method="" class="m-0 width-100-pc">
                    <div class="input-wrap">
                        <label for="phone-number"></label>
                        <input type="tel" name="phone-number" id="phone-number" placeholder="Enter our phone number" class="phone-number-input borderline">
                        <button type="" class="input-button">
                            <div class="d-iflx al-i-c">
                                {%- include tools/icons.html icon="logo-alt-white" -%}
                                <span class="fw-medium co-white suffix">Enjoy</span>
                            </div>
                        </button>
                    </div>
                </form> -->
                {% include components/get-app.html %}
            </div>
            <img src="{{ site.url }}/uploads/experience-app.png" alt="A hand holding the eyowo app" class="show-largeup banner-image">
        </div>
    </div>
</div>