<ul class="none m-0 d-flx al-i-c get-app-cta pt-2 pos-rel z-depth-2 ">
    <li>
        <a href="" class="google-play">
            {%- include tools/icons.html icon="google-play" -%}
        </a>
    </li>
    <li>
        <a href="" class="app-store">
            {%- include tools/icons.html icon="app-store" -%}
        </a>
    </li>
</ul>
<p class="m-0 pt-1 smalltext co-rich-black lh-1-2h">or Dial <span class="co-primary">*4255#</span> to get started <span class="co-readable-gray d-blk primarytext">USSD currently unavailable to MTN subscribers</span></p>