<ul class="none m-0 d-flx al-i-c get-app-cta pt-1h pos-rel z-depth-2 ">
    <li class="prefix">
        <a href="https://play.google.com/store/apps/details?id=com.eyowo.android" class="google-play d-blk" target="_blank">
            {%- include tools/icons.html icon="google-play" -%}
        </a>
    </li>
    <li class="suffix">
        <a href="https://itunes.apple.com/ng/app/eyowo/id1353757720?mt=8" class="app-store d-blk" target="_blank">
            {%- include tools/icons.html icon="app-store" -%}
        </a>
    </li>
</ul>
<p class="m-0 pt-1 smalltext co-rich-black lh-1-2h" {% if page.layout == 'business' %} style="display:none;" {% endif %}>or Dial <span class="co-primary">*4255#</span> to get started <span class="co-readable-gray d-blk primarytext">USSD currently unavailable to MTN subscribers</span></p>