// 
    // Navigation

    // @package eyw-merchant
    // @author  Jessica Eze <jessica@softcom.ng>
    
.logo-holder
    padding: 1rem $space 
    padding-left: 0
.toggle-mobile-nav
    padding: 1.5rem $space-sm
    padding-right: 0

.slats
    pointer-events:         none
    &::before, &::after
        content:            ''
        top:                0
        left:               0
    &::before
        transform:          translateY(-6px)
    &::after
        transform:          translateY(6px)
.slats, .slats::before, .slats::after
    position:               absolute
    width:                  22px
    height:                 2px
    background-color:       $primarycolor
    transition:             background 250ms ease, transform 250ms ease-in
.is-clicked
    .slats
        background-color:   transparent
        &::before
            transform:      rotate(-45deg)
        &::after
            transform:      rotate(45deg)
        


.desktopnav
    transition:         all .2s linear
    position:           fixed
    top:                0
    left:               0
    right:              0
    bottom:             unset
    &.is-fixed
        z-index:            5
        background-color:   rgb( 255, 255, 255)
        box-shadow:         0 1px 1px 0 rgba( 0, 0, 0, 0.25 )
        max-height:         62px
        .logo-holder
            display:        block
            opacity:        1
            visibility:     visible
    li 
        position: relative
        & > a
            padding: 1.5rem $space-sm
            &.is-active
                color: $primarycolor
                &:after
                    content: ""
                    border-radius: 50%
                    width: 5px
                    height: 5px
                    background: $primarycolor
                    position:           absolute
                    bottom:             -8px
                    left:               50%
                    transform:          translate( -50%, -50% )

.mobilenav
    position:               absolute
    top:                    70px
    right:                  12px
    width:                  100%
    max-width:              300px
    background-color:       #000
    z-index:                2
    box-shadow:             $subtleboxshadow
    border-radius:          8px
    transform:              scale(.8) translateY(-10%)
    transform-origin:       top right
    transition:             all 320ms cubic-bezier(.24,.22,.015,1.56), opacity .1s ease-in-out
    opacity:                0
    pointer-events:         none
    z-index:                10
    &.is-active
        opacity:            1
        pointer-events:     auto
        transform:          scale(1) translate(0)
    &::before
        content: ""
        position: absolute
        top: -0.55rem
        right: .45rem
        width: 0
        height: 0
        border-style: solid
        border-width: 0 10px 10px 10px
        border-color: transparent transparent #000 transparent
    .nav
        li 
            &:last-of-type
                a
                    border-bottom: none
        a
            padding: 1rem 0
            margin: 0 $space
            color: rgba(255, 255, 255, .6)
            border-bottom: 1px solid rgba(255, 255, 255, .6)
            &.is-active, &:hover
                color: $primarycolor
                border-bottom: 1px solid $primarycolor
        // &.mobile-nav
        //     li
        //         width: 100%
        //         &:last-of-type a
        //             border-bottom: none
        //         a
        //             display: flex
        //             padding: $space 0
        //             margin: 0 $space
        //             border-bottom: $borderline
        //             &.is-active
        //                 border-bottom: 2px solid $primarycolor

    



