---
layout: base
---

<section class="wrapper will-grow mx-auto maxwidth-lt">
    <div class="business-intro">
        <div class="tx-c for-business">
            <img src="{{ site.url }}/uploads/business/for-business.svg" alt="for-business" class="business-icon">
            <h2 class="large-caps co-rich-black">For Business</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non tellus et augue sagittis sodales. Suspendisse a volutpat nulla</p>
            <div class="d-flx al-i-c j-c-center flx-wrap pt-1">
                <a href="#" class="btn btn-standard business-button fw-bold primary-caps">Get Started</a>
                <a href="#for-business" class="business-link d-flx al-i-c px-1h py-1">
                    <span>Learn more</span>
                    {%- include tools/icons.html icon="arrow-down" -%}
                </a>
            </div>
        </div>

        <div class="tx-c as-a-business">
            <img src="{{ site.url }}/uploads/business/as-a-business.svg" alt="for-business" class="business-icon">
            <h2 class="large-caps co-rich-black">As a Business</h2>
            <p>Get paid when you help others perform simple transactions like cash withdrawal, cash deposit and bills’ payment.</p>
            <div class="d-flx al-i-c j-c-center flx-wrap pt-1 business-app">
                <a href="" class="d-blk">
                    {%- include tools/icons.html icon="google-play" -%}
                </a>
                <a href="#as-a-business" class="d-flx al-i-c px-1h py-1">
                    <span>Learn more</span>
                    {%- include tools/icons.html icon="arrow-down" -%}
                </a>
            </div>
        </div>
    </div>
</section>


<section>
    <ul class="uk-flex-center maxwidth-sm mx-auto m-0 wrapper will-grow negate-bottom" uk-tab>
        <li class="uk-active for-business"><a href="#" class="fw-bold" id="for-business">For Business</a></li>
        <li class="as-a-business"><a href="#" class="fw-bold" id="as-a-business">As a Business</a></li>
    </ul>
    
    <ul class="uk-switcher none m-0">
        <li class="wrapper-y negate-bottom">
            <section class="d-flx flx-dir-c j-c-center pos-rel business-sections">
                <img src="{{ site.url }}/uploads/business/business-bg.svg" alt="" class="absolute-zero height-100-pc">
                
                <div class="grid mx-auto maxwidth-lt width-100-pc">
                    <div class="col-12 col-7-sm none m-0">
                        <img src="{{ site.url }}/uploads/business/fb-01.svg" alt="" class="business-section-imgs left">
                    </div>
                    
                    <div class="col-12 col-7-sm offset-7-cols-from-left why-content pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                        <h3 class="business-titles co-rich-black">Easiest Way To Receive Payments</h3>
                        <p>Receive payments on the go, in stores and across multiple branches with just your phone number. With Eyowo, your customers can now pay you on  your phone number. It doesn't matter if you are online or offline. </p>
                    </div>
                </div>
            </section>

            <section class="d-flx flx-dir-c j-c-center pos-rel business-sections">
                
                <div class="grid mx-auto maxwidth-lt width-100-pc">
                    <div class="col-12 col-5-sm offset-5-cols-from-left none m-0 hide-smallup">
                        <img src="{{ site.url }}/uploads/business/fb-02.svg" alt="" class="right business-section-imgs">
                    </div>
                    
                    <div class="col-12 col-5-sm  why-content pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                        <h3 class="business-titles co-rich-black">Boost Your Reach</h3>
                        <p>List your business on our ‘Nearby’ feature for everyone on Eyowo to learn more about what you do. Get a customized USSD menu for your products and sales points. Receive money from anyone, anywhere and anytime within Nigeria.</p>
                    </div>

                    <div class="col-12 col-5-sm offset-5-cols-from-left none m-0 show-smallup">
                        <img src="{{ site.url }}/uploads/business/fb-02.svg" alt="" class="right business-section-imgs">
                    </div>
                </div>
            </section>

            <section class="d-flx flx-dir-c j-c-center pos-rel business-sections">
                <img src="{{ site.url }}/uploads/business/business-bg.svg" alt="" class="absolute-zero height-100-pc">
                
                <div class="grid mx-auto maxwidth-lt width-100-pc">
                    <div class="col-12 col-7-sm none m-0">
                        <img src="{{ site.url }}/uploads/business/fb-03.svg" alt="" class="left business-section-imgs">
                    </div>
                    
                    <div class="col-12 col-7-sm offset-7-cols-from-left why-content pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                        <h3 class="business-titles co-rich-black">Seamless Single and Group Payment </h3>
                        <p>Make payments with ease to bank accounts and phone numbers all from one central interface. Schedule simplified payments to your partners, staff or suppliers. Pay all your business bills and send airtime to multiple phone numbers without difficulty.</p>
                    </div>
                </div>
            </section>

            <section class="d-flx flx-dir-c j-c-center pos-rel business-sections">
                
                <div class="grid mx-auto maxwidth-lt width-100-pc">
                    <div class="col-12 col-5-sm offset-5-cols-from-left none m-0 hide-smallup">
                        <img src="{{ site.url }}/uploads/business/fb-04.svg" alt="" class="right business-section-imgs">
                    </div>
                    
                    <div class="col-12 col-5-sm  why-content pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                        <h3 class="business-titles co-rich-black">Instant Reconciliation and Seamless Reporting</h3>
                        <p>Make payments with ease to bank accounts and phone numbers all from one central interface. Schedule simplified payments to your partners, staff or suppliers. Pay all your business bills and send airtime to multiple phone numbers without difficulty.</p>
                    </div>

                    <div class="col-12 col-5-sm offset-5-cols-from-left none m-0 show-smallup">
                        <img src="{{ site.url }}/uploads/business/fb-04.svg" alt="" class="right business-section-imgs">
                    </div>
                </div>
            </section>


            <section class="d-flx flx-dir-c j-c-center pos-rel business-sections">
                <img src="{{ site.url }}/uploads/business/business-bg.svg" alt="" class="absolute-zero height-100-pc">
                
                <div class="grid mx-auto maxwidth-lt width-100-pc">
                    <div class="col-12 col-7-sm none m-0">
                        <img src="{{ site.url }}/uploads/business/fb-05.svg" alt="" class="left business-section-imgs">
                    </div>
                    
                    <div class="col-12 col-7-sm offset-7-cols-from-left why-content pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                        <h3 class="business-titles co-rich-black">Reward Loyal Customers</h3>
                        <p>Get more insights about your clients and reward them adequately.</p>
                    </div>
                </div>
            </section>


            <div class="experience-banner pos-rel">            
                <div class="content-wrapper wrapper-x">
                    <div class="banner-content">
                        <h2 class="maxwidth-xs co-rich-black largetext">Experience Eyowo for business now</h2>
                        <p class="m-0">To better organize your business, download the Eyowo Business app right away. (Available on Android and iOS).</p>
                        {% include components/get-app.html %}
                    </div>
                    <img src="{{ site.url }}/uploads/business/business-app.svg" alt="A hand holding the eyowo app" class="show-largeup banner-image is-business">
                </div>
            </div>
        </li>

        <li>
            <p class="maxwidth-xs m-0 mx-auto tx-c mt-1h">As an Eyowo agent, you earn commissions when you help others:</p>
            <div class="wrapper-y negate-bottom">
                <section class="pos-rel business-sections">
                    <img src="{{ site.url }}/uploads/business/as-a-business-bg.svg" alt="" class="absolute-zero height-100-pc">
                    
                    <div class="grid mx-auto maxwidth-tb width-100-pc">
                        <div class="col-12 col-7-sm none m-0">
                            <img src="{{ site.url }}/uploads/business/asb-01.svg" alt="" class="asb-imgs">
                        </div>
                        
                        <div class="col-12 col-7-sm offset-7-cols-from-left pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                            <h3 class="business-titles co-rich-black mb-1">Withdraw Cash</h3>
                            <p class="m-0">Give cash to other Eyowo users and receive the equivalent plus commission in your Eyowo wallet.</p>
                            {% include components/get-app.html %}
                        </div>
                    </div>
                </section>


                <section class="pos-rel business-sections">
                    <div class="grid mx-auto maxwidth-tb width-100-pc">
                        
                        <div class="col-12 col-7-sm pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                            <h3 class="business-titles co-rich-black mb-1">Deposit Cash</h3>
                            <p class="m-0">Receive cash from other Eyowo users and transfer the equivalent minus commission into their Eyowo wallet.</p>
                            {% include components/get-app.html %}
                        </div>

                        <div class="col-12 col-7-sm offset-7-cols-from-left none m-0">
                            <img src="{{ site.url }}/uploads/business/asb-02.svg" alt="" class="asb-imgs">
                        </div>
                    </div>
                </section>
                
                <section class="pos-rel business-sections">
                    <img src="{{ site.url }}/uploads/business/as-a-business-bg.svg" alt="" class="absolute-zero height-100-pc">
                    
                    <div class="grid mx-auto maxwidth-tb width-100-pc">
                        <div class="col-12 col-7-sm none m-0">
                            <img src="{{ site.url }}/uploads/business/asb-03.svg" alt="" class="asb-imgs">
                        </div>
                        
                        <div class="col-12 col-7-sm offset-7-cols-from-left pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                            <h3 class="business-titles co-rich-black mb-1">Pay Bills</h3>
                            <p class="m-0">Receive commissions when you help others pay for cable TV subscription and other utility bills.</p>
                            {% include components/get-app.html %}
                        </div>
                    </div>
                </section>


                <section class="pos-rel business-sections">
                    <div class="grid mx-auto maxwidth-tb width-100-pc">
                        
                        <div class="col-12 col-7-sm pos-rel z-depth-2 maxwidth-xs mt-2 wrapper-x">
                            <h3 class="business-titles co-rich-black mb-1">Buy Airtime</h3>
                            <p class="m-0">You can make extra cash when you help others load airtime to their phones in exchange for the equivalent amount.</p>
                            {% include components/get-app.html %}
                        </div>

                        <div class="col-12 col-7-sm offset-7-cols-from-left none m-0">
                            <img src="{{ site.url }}/uploads/business/asb-04.svg" alt="" class="asb-imgs last-of-type">
                        </div>
                    </div>
                </section>

                <div class="pos-rel">
                    <img src="{{ site.url }}/uploads/experience-bg.svg" alt="" class="absolute-zero experience-bg-img">

                    <div class="experience-banner pos-rel">   
                    
                        <div class="content-wrapper wrapper-x">
                            <div class="banner-content pos-rel">
                                <h2 class="maxwidth-xs co-rich-black largetext">Experience Eyowo as a business now</h2>
                                <p class="m-0">To start earning, download the Eyowo Kiosk app (Available on Android and iOS) or dial <span class="co-primary fw-bold">*4255*20#</span></p>
                                {% include components/get-app.html %}
                            </div>
                            <img src="{{ site.url }}/uploads/business/kiosk-app.svg" alt="A hand holding the eyowo app" class="show-largeup banner-image is-business"> 
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>